body, html, .elternDiv {
  height: 100%;
  margin: 0;
  background-color: #f5f2e6;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: #8f877b;
  line-height: 150%;
  scroll-behavior: smooth;
}


.start, .ueberUns, #personen, .unserHof, .ackerbau, .schweinemast, .erneuerbareEnergien, .dienstleistungen, .produkte, .news, .kontakt {
  min-height: 100%;
  background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
  position: relative;
}

.textContainer {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;
  padding-left: 40px;
  padding-right: 40px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

h1 {
  font-size: 20px;
  letter-spacing: 5px;
  font-weight: bold;
}

h2 {
  font-size: 23px;
  letter-spacing: 3px;
  font-family: 'Urbanist', sans-serif;
}

#link {
  color: #968e81;
}

#video {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 0.9;
}



.caption {
  position: absolute;
  color: #f5f2e6;
  font-family: 'Urbanist', sans-serif;
  font-size: 85px;
  font-weight: bold;
  line-height: 100%;
  top: 5%;
  left: 5%;
  text-shadow: 2px 2px 2px #000000;
}

#startText {
  padding: 60px;
}

.familienFoto {
  margin-bottom: 40px;
}

#familienfoto {
  width: 500px;
  height: auto;
}

.ueberUns {
  background-image: url("images/P8.JPG");
}

#platzhalter {
  width: 100%;
   object-fit: cover;
   height: 250px;
}

#personen {
  margin-top: 70px;
  margin-bottom: 70px;
}

#col {
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

#col img {
  margin: 15px;
}

#portrait {
  width: 200px;
  height: auto;
}

.unserHof {
  /* The image used */
  background-image: url("images/Hof.JPG");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#schaubild {
  width: 600px;
  height: auto;
  margin-bottom: 60px;
}

.ackerbau {
  /* The image used */
  background-image: url("images/Zuckerrübe.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#nahaufnahme {
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.schweinemast {
  /* The image used */
  background-image: url("images/Schweine.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.erneuerbareEnergien {
  /* The image used */
  background-image: url("images/Windrad2.JPG");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {box-sizing:border-box}

.dienstleistungen {
  background-image: url("images/Traktor.JPG");
}

.produkte {
  background-image: url("images/TriticaleFeldQuer.jpg");
}

.news {
  background-image: url("images/WeizenNah.JPG");
}

.kontakt {
    background-image: url("images/HofHinten.JPG");
}

#kontaktBereich {
  padding: 60px;
}

#kontaktBild {
  width: 200px;
  height: auto;
}

.responsive_map {
height: 0;
overflow: hidden;
padding-bottom: 100%;
position: relative;
}

.responsive_map iframe {
height: 400px;
width: 400px;
left: 0;
position: absolute;
top: 0;
}

.footer {
  height: 30px;
}

#impressum {
  color: #968e81;
  text-decoration: none;
  margin: 10px;
}



#menuButton{
  /*background-color: rgba(0,0,0,0.5);*/
  color: #f5f2e6;
  text-shadow: 2px 2px 2px #000000;
  position: fixed;
  top: 20px;
  right: 20px;
  text-align: center;
  padding: 5px;
  z-index: 3;
  font-family: 'Urbanist', sans-serif;
  font-size: 55px;
  font-weight: bold;
  cursor: pointer;
}


#menuButton:hover{
  /*
  background-color: rgba(0,0,0,0.7);
  color: white;
  */
  font-style: italic;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 5%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a, .overlay .closebtn  {
  padding: 20px;
  text-decoration: none;
  font-size: 56px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
  font-weight: bold;
  font-family: 'Urbanist', sans-serif;
  cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus, .overlay .closebtn:hover {
  color: #f1f1f1;
  font-style: italic;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.overlay a img {
  width: 80%;
  margin: auto;
  max-width: 210px;
} 


@media screen and (max-width: 1200px) {
  #video {
    display: none;
  }
  .start {
    background-image: url("images/Startbild.JPG");
  }
}

@media screen and (max-width: 1000px){
  .textContainer {
    max-width: 750px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 20px;
  }
}

